<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>链接信息</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- jquery -->
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <!-- jquery-validator -->
    <script type="text/javascript" th:src="@{/jquery-validation/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery-validation/localization/messages_zh.min.js}"></script>
    <!-- layer -->
    <script type="text/javascript" th:src="@{/layer/layer.js}"></script>
    <!-- md5.js -->
    <script type="text/javascript" th:src="@{/js/md5.min.js}"></script>
    <!-- common.js -->
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<body>

<div class="panel panel-default" th:fragment="content">
  <div class="panel-heading">链路信息列表</div>
  <a th:href = "@{/addLink}">
  <input type="button" value="link新增" >
  </a>
  <table class="table" id="listLinksInfo">
  	<tr><td>id</td><td>链路类型</td><td>协议类型</td><td>IP端口</td><td>出口IP</td><td>创建时间</td><td>更新时间</td><td>备注</td><td>操作</td></tr>
  	<tr  th:each="LinkInfo,LinksInfoStat : ${linkList}">  
                <td th:text="${LinkInfo.id}"></td>  
                <td th:text="${LinkInfo.linkType}"></td>  
                <td th:text="${LinkInfo.protocolType}"></td>  
                <td th:text="${LinkInfo.ipPort}"></td>  
                <td th:text="${LinkInfo.expIp}"></td>
                <td th:text="${LinkInfo.createTime}"></td>
                <td th:text="${LinkInfo.updateTime}"></td>  
                <td th:text="${LinkInfo.remark}"></td>  
           		<td><a th:href="@{'/detailLinkInfo/'+${LinkInfo.id}}">编辑</a>
                    <a th:href="@{'/delLinkInfo/'+${LinkInfo.id}}">删除</a></td>
     </tr>  
  </table>
  
</div>
</body>
</html>
