<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>用户信息</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- jquery -->
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <!-- jquery-validator -->
    <script type="text/javascript" th:src="@{/jquery-validation/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery-validation/localization/messages_zh.min.js}"></script>
    <!-- layer -->
    <script type="text/javascript" th:src="@{/layer/layer.js}"></script>
    <!-- md5.js -->
    <script type="text/javascript" th:src="@{/js/md5.min.js}"></script>
    <!-- common.js -->
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<body>

<div class="panel panel-default" th:fragment="content">
    <div class="panel-heading">用户列表</div>
    <table class="table" id="listUserlist">
        <tr><td>id</td><td>用户名</td><td>邮箱</td><td>用户类型</td><td>激活状态</td><td>创建时间</td></tr>
        <tr  th:each="UserInfo : ${userList}">
            <td th:text="${UserInfo.id}"></td>
            <td th:text="${UserInfo.username}"></td>
            <td th:text="${UserInfo.email}"></td>
            <td th:text="${UserInfo.type}"></td>
            <td th:text="${UserInfo.status}"></td>
            <td th:text="${UserInfo.createTime}"></td>
            <td><a th:href="'/detail/'+${UserInfo.id}">编辑</a></td>
            <td><a th:href="'/del/'+${UserInfo.id}">删除</a></td>
        </tr>

    </table>

</div>
</body>
</html>
